/* global.css or index.css */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f2f0f5; /* gray-800 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background: #66c61c; /* gray-600 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #66c61c; /* gray-400 */
}

/* a div with class="custom-scroll" */
.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #fff1eb;
  border-radius: 10px;
}

/* Hide scrollbar globally */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes netflix-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.animate-spinner {
  animation: netflix-spinner 1.2s linear infinite;
}
