@import 'tailwindcss';

@theme {
  --color-primary: #9966cc;
  --font-roboto: Roboto, sans-serif;
  --font-inter: Inter, sans-serif;
  --color-officeBrow: #645d5d;
  --font-bricolage: Bricolage Grotesque, sans-serif;
  --color-grey900: #101928;
  --color-primary200: #312143;
  --color-primary900: #312143;
  --color-officeBrow700: #645d5d;
  --color-neutral600: #404c59;
  --color-neutral400: #8898aa;
}
